# Week 2 - Preprocessing, part 2

# 1. Lesson: None

# 2. Weekly graph question

The Storytelling With Data book mentions planning on a "Who, What, and How" for your data story.  Write down a possible Who, What, and How for your data, using the ideas in the book.

### **Who (Audience)**
- **Fraud Investigators & Analysts:** Improve fraud detection models.  
- **Claims Adjusters & Underwriters:** Assess claim validity.  
- **Insurance Executives & Risk Managers:** Reduce fraud losses.  

### **What (Key Message)**
- **Fraud is rare (6%) but costly.**  
- **Patterns exist** in claim amount, number of vehicles, and incident type.  
- **Better detection models** can minimize losses while ensuring fair claims.  

### **How (Visualization Approach)**
- **Bar charts**: Fraud vs. non-fraud distribution.  
- **Heatmaps**: Feature correlations.  
- **Decision Trees**: Key fraud indicators.  
- **Time trends**: Fraud patterns over time.  
- **Geospatial maps**: Fraud hotspots.

# 3. Homework - work with your own data

In [4]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

This week, you will do the same types of exercises as last week, but you should use your own datasets that you found last semester.

### Here are some types of analysis you can do  Use Google, documentation, and ChatGPT to help you:

- Summarize the datasets using info() and describe()

- Are there any duplicate rows?

- Are there any duplicate values in a given column (when this would be inappropriate?)

- What are the mean, median, and mode of each column?

- Are there any missing or null values?

    - Do you want to fill in the missing value with a mean value?  A value of your choice?  Remove that row?

- Identify any other inconsistent data (e.g. someone seems to be taking an action before they are born.)

- Encode any categorical variables (e.g. with one-hot encoding.)

### Conclusions:

- Are the data usable?  If not, find some new data!

- Do you need to modify or correct the data in some way?

- Is there any class imbalance?  (Categories that have many more items than other categories).

In [6]:
dataset = pd.read_csv('/workspaces/2025-spring-B2/data/auto/carclaims.csv')
dataset.head()

,Month,WeekOfMonth,DayOfWeek,Make,AccidentArea,DayOfWeekClaimed,MonthClaimed,WeekOfMonthClaimed,Sex,MaritalStatus,...,AgeOfPolicyHolder,PoliceReportFiled,WitnessPresent,AgentType,NumberOfSuppliments,AddressChange-Claim,NumberOfCars,Year,BasePolicy,FraudFound
0,Dec,5,Wednesday,Honda,Urban,Tuesday,Jan,1,Female,Single,...,26 to 30,No,No,External,none,1 year,3 to 4,1994,Liability,No
1,Jan,3,Wednesday,Honda,Urban,Monday,Jan,4,Male,Single,...,31 to 35,Yes,No,External,none,no change,1 vehicle,1994,Collision,No
2,Oct,5,Friday,Honda,Urban,Thursday,Nov,2,Male,Married,...,41 to 50,No,No,External,none,no change,1 vehicle,1994,Collision,No
3,Jun,2,Saturday,Toyota,Rural,Friday,Jul,1,Male,Married,...,51 to 65,Yes,No,External,more than 5,no change,1 vehicle,1994,Liability,No
4,Jan,5,Monday,Honda,Urban,Tuesday,Feb,2,Female,Single,...,31 to 35,No,No,External,none,no change,1 vehicle,1994,Collision,No

In [7]:
dataset.describe()

,WeekOfMonth,WeekOfMonthClaimed,Age,PolicyNumber,RepNumber,Deductible,DriverRating,Year
count,15420.000000,15420.000000,15420.000000,15420.000000,15420.000000,15420.000000,15420.000000,15420.000000
mean,2.788586,2.693969,39.855707,7710.500000,8.483268,407.704280,2.487808,1994.866472
std,1.287585,1.259115,13.492377,4451.514911,4.599948,43.950998,1.119453,0.803313
min,1.000000,1.000000,0.000000,1.000000,1.000000,300.000000,1.000000,1994.000000
25%,2.000000,2.000000,31.000000,3855.750000,5.000000,400.000000,1.000000,1994.000000
50%,3.000000,3.000000,38.000000,7710.500000,8.000000,400.000000,2.000000,1995.000000
75%,4.000000,4.000000,48.000000,11565.250000,12.000000,400.000000,3.000000,1996.000000
max,5.000000,5.000000,80.000000,15420.000000,16.000000,700.000000,4.000000,1996.000000

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15420 entries, 0 to 15419
Data columns (total 33 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Month                 15420 non-null  object
 1   WeekOfMonth           15420 non-null  int64
 2   DayOfWeek             15420 non-null  object
 3   Make                  15420 non-null  object
 4   AccidentArea          15420 non-null  object
 5   DayOfWeekClaimed      15420 non-null  object
 6   MonthClaimed          15420 non-null  object
 7   WeekOfMonthClaimed    15420 non-null  int64
 8   Sex                   15420 non-null  object
 9   MaritalStatus         15420 non-null  object
 10  Age                   15420 non-null  int64
 11  Fault                 15420 non-null  object
 12  PolicyType            15420 non-null  object
 13  VehicleCategory       15420 non-null  object
 14  VehiclePrice          15420 non-null  object
 15  PolicyNumber          15420 non-null  int64
 16  RepNumber             15420 non-null  int64
 17  Deductible            15420 non-null  int64
 18  DriverRating          15420 non-null  int64
 19  Days:Policy-Accident  15420 non-null  object
 20  Days:Policy-Claim     15420 non-null  object
 21  PastNumberOfClaims    15420 non-null  object
 22  AgeOfVehicle          15420 non-null  object
 23  AgeOfPolicyHolder     15420 non-null  object
 24  PoliceReportFiled     15420 non-null  object
 25  WitnessPresent        15420 non-null  object
 26  AgentType             15420 non-null  object
 27  NumberOfSuppliments   15420 non-null  object
 28  AddressChange-Claim   15420 non-null  object
 29  NumberOfCars          15420 non-null  object
 30  Year                  15420 non-null  int64
 31  BasePolicy            15420 non-null  object
 32  FraudFound            15420 non-null  object
dtypes: int64(8), object(25)
memory usage: 3.9+ MB

In [9]:
dataset_duplicates = dataset[dataset.duplicated()]

print("Duplicate Rows:\n", dataset_duplicates)


#dataset_duplicates_by_customerid = dataset[dataset.duplicated(subset=['CustomerId'])]
#dataset_duplicates_by_customerid.sort_values(by=['CustomerId']).head(10)

Duplicate Rows:
 Empty DataFrame
Columns: [Month, WeekOfMonth, DayOfWeek, Make, AccidentArea, DayOfWeekClaimed, MonthClaimed, WeekOfMonthClaimed, Sex, MaritalStatus, Age, Fault, PolicyType, VehicleCategory, VehiclePrice, PolicyNumber, RepNumber, Deductible, DriverRating, Days:Policy-Accident, Days:Policy-Claim, PastNumberOfClaims, AgeOfVehicle, AgeOfPolicyHolder, PoliceReportFiled, WitnessPresent, AgentType, NumberOfSuppliments, AddressChange-Claim, NumberOfCars, Year, BasePolicy, FraudFound]
Index: []

[0 rows x 33 columns]

In [10]:
#check missing Values
print(f"This dataframe contain missing values = {dataset.isnull().sum().sum()}")

This dataframe contain missing values = 0

# 4. Storytelling With Data graph

Just like last week: choose any graph in the Introduction of Storytelling With Data. Use matplotlib to reproduce it in a rough way. I don't expect you to spend an enormous amount of time on this; I understand that you likely will not have time to re-create every feature of the graph. However, if you're excited about learning to use matplotlib, this is a good way to do that. You don't have to duplicate the exact values on the graph; just the same rough shape will be enough.  If you don't feel comfortable using matplotlib yet, do the best you can and write down what you tried or what Google searches you did to find the answers.